{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

	{% if request.user == profile.user %}
		<form method="POST">
			{% csrf_token %}
			<div class="jumbotron text-center">
				<h1><b>{{ profile.user.username }}</b></h1>
				<!--<input class="form-control" name="slogan" value="{{ profile.slogan }}"> -->
			</div>
			<div class="card">
				<div class="card-body">
					<img src="{{ profile.avatar }}" class="img-circle" height="120" width="120">
					<h3 class="text-uppercase"><b>About {{ profile.user.username }}</b></h3>
					<hr/>
					<input class="form-control" name="about" value="{{ profile.about }}">
					<br/>
					<button class="btn btn-success" type="submit">Update</button>			
				</div>
			</div>						
		</form>
	{% else %}
		<div class="jumbotron text-center">
			<h1><b>{{ profile.user.username }}</b></h1>
			<!--<p>{{ profile.slogan }}</p>-->
		</div>
		<div class="card">
			<div class="card-body">
				<!--<img src="{{ profile.avatar }}" class="img-circle" height="120" width="120"> -->
				<h3 class="text-uppercase"><b>About {{ profile.user.username }}</b></h3>
				<hr/>
				<p>{{ profile.about }}</p>			
			</div>
		</div>
	{% endif %}

	<h3 class="text-uppercase" style="margin: 50px"><b>{{profile.user.username}}'s products</b></h3>
	<div class="row">
		{% for product in products %}
			<div class="col-md-3">
				<div class="card">
					<a href="{% url 'shop:ProdCatDetail' product.category.slug product.slug %}"><img class="card-img-top my_image" src="{{ product.image.url }}"></a>
					<div class="caption">
						<p><a href="{% url 'shop:ProdCatDetail' product.category.slug product.slug %}">{{ product.name }}</a></p>						
						<p>
							<span>
								<a href="{% url 'shop:profile' product.user.username %}">{{ product.user.username }}</a>
							</span>
							<b class="green float-right">{{ product.description }}</b>
						</p>
					</div>
				</div>
			</div>
		{% endfor %}
		</div>
{% endblock %}