{% extends 'base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block title %}
	Create Your Cushion Collection - Perfect Cushion Store
{% endblock %}


{% block content %}
	{% if error %}
    	<div class="alert alert-warning alert-dismissible" role="alert">
        	<button type="button" class="close" data-dismiss="alert" aria-label="Close">
            	<span aria-hidden="true">&times;</span>
        	</button>
      		<strong>Warning!</strong> {{ error }}
    	</div>
  	{% endif %}

	<form method="POST" enctype="multipart/form-data">
		{% csrf_token %}
		<p>{{ product_form | crispy }}</p>
		<button type="submit">Publish</button>
	</form>
		
{% endblock %}

